.Header {
  background-color: lightgray;

  display: none;

  padding: 1rem;

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  @media (min-width: 800px) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    gap: 1rem;
  }
}
