@use '../../styles/scss/' as *;

.Sidebar {
  // grid-column: 1 / 8;
  // grid-row: 1 / 2;
  // height: fit-content;

  background-color: var(--nav-bgcolor);
  padding: 0.5rem;

  // hide social media nav in sidebar on mobile
  nav:nth-child(2) {
    display: none;
  }

  @include media-query(tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // display social media nav in sidebar on desktop
    nav:nth-child(2) {
      display: block;
    }
  }
}
