@use '../../styles/scss/' as *;

.Layout {
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  // overflow: auto;

  display: grid;
  // grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 1fr auto;

  @include motion-allowed() {
    animation: fadeIn 1000ms ease forwards;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100;
      }
    }
  }

  @include media-query(tablet) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }
}
