@use '../../styles/scss/' as *;

.Welcome {
  background-color: hsl(0, 0%, 95%);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;

  transition: opacity 1000ms ease;

  main {
    border-radius: 10rem;
    box-shadow: 0.3rem 0.3rem 0 0.3rem hsl(350, 100%, 88%);

    width: max(20rem, 50%);

    grid-column: 1 / 2;
    grid-row: 2 /3;

    display: flex;
    align-items: center;
    justify-content: center;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    h1,
    h2 {
      color: hsl(300, 100%, 15%);
      font-family: 'Vegan Style', sans-serif;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.75rem;
    }
  }

  button {
    background-color: hsl(300, 100%, 15%);
    border-radius: 0.5rem;
    color: hsl(0, 0%, 90%);
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  @include media-query(laptop) {
    grid-template-columns: repeat(3, 1fr);

    main {
      grid-column: 2 /3;
    }
  }
}
@media (prefers-reduced-motion: no-preference) {
  .FadeOut {
    opacity: 0%;
  }
}
