@use '../../styles/scss/' as *;

.Footer {
  background-color: var(--nav-bar-bgcolor);

  padding: 0.5rem;

  position: relative;
  bottom: 0;
  width: 100%;

  @include media-query(tablet) {
    display: none;
  }
}
