@use '../../styles/scss/' as *;

.Footer {
  background-color: lightpink;

  padding: 0.5rem;

  position: relative;
  bottom: 0;
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    li {
      font-size: 1.25rem;
    }
  }

  @include media-query(tablet) {
    display: none;
  }
}
