.TestNav {
  background-color: purple;
  color: gold;

  nav ul {
    // display: flex;
    // flex-direction: row;

    font-size: 1.25rem;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
  }

  nav:first-child ul {
    background-color: lightblue;
    color: darkblue;

    li:nth-child(2) {
      background-color: green;
    }
  }

  nav:last-child ul {
    background-color: lightgray;
    color: darkgray;

    position: absolute;
    bottom: 0;
    width: 100%;

    li:nth-child(3) {
      background-color: brown;
    }
  }
}
