@use '../../styles/scss/' as *;

.NavSocialMedia {
  padding: 0.25rem;
  display: flex;
  justify-content: center;

  ul {
    width: 80%;
    color: var(--nav-text-color);
    font-family: var(--nav-link-font);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // gap: 1rem;

    // background-color: lightgoldenrodyellow;
    padding: var(--nav-list-padding);

    li {
      font-size: var(--nav-link-text);
      line-height: var(--nav-line-height);

      // background-color: lightgray;
    }
  }

  @include motion-allowed() {
    ul {
      animation: slideUp 1000ms ease forwards;
    }

    @keyframes slideUp {
      0% {
        transform: translateY(125%);
      }

      100% {
        transform: translateY(0%);
      }
    }
  }

  @include media-query(tablet) {
    ul {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
