@use '../../styles/scss/' as *;

.Nav {
  padding: 0.25rem;

  ul {
    padding: var(--nav-list-padding);

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    color: var(--nav-text-color);
    font-family: var(--nav-link-font);

    li {
      font-size: var(--nav-text-size);
      line-height: var(--nav-line-height);
    }
  }

  @include media-query(tablet) {
    ul {
      flex-direction: column;

      text-align: center;
    }
  }

  @include motion-allowed() {
    ul {
      animation: slideDown 1000ms ease forwards;
    }

    @keyframes slideDown {
      0% {
        transform: translateY(-125%);
      }

      100% {
        transform: translateY(0%);
      }
    }

    @include media-query(tablet) {
      ul {
        li {
          transition: transform 500ms ease;

          &:hover {
            transform: scale(120%, 120%);
          }
        }
      }
    }
  }
}
