@use '../../styles/scss/' as *;

.Nav {
  // background-color: blanchedalmond;
  padding: 0.25rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    padding: 0.25rem;

    // background-color: lightslategray;

    li {
      font-size: 1.25rem;

      // background-color: lightblue;
    }
  }

  @include motion-allowed() {
    ul {
      animation: slideDown 1000ms ease forwards;
    }
  }

  @include media-query(tablet) {
    ul {
      flex-direction: column;
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-125%);
  }

  100% {
    transform: translateY(0%);
  }
}
