.Nav {
  // background-color: blanchedalmond;
  padding: 0.25rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    padding: 0.25rem;

    // background-color: lightslategray;

    li {
      font-size: 1.25rem;

      // background-color: lightblue;
    }
  }

  @media (min-width: 500px) {
    ul {
      flex-direction: column;
    }
  }
}
