@mixin motion-allowed() {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@mixin icon-dialog($item, $title, $top, $left) {
  li:nth-child(#{$item}):before {
    content: $title;
    font-size: 1rem;
    opacity: 0;

    position: absolute;
    top: $top;
    left: $left;
  }
}

@mixin icon-dialog-reduced-motion($item, $title, $top, $left) {
  li:nth-child(#{$item}):before {
    content: $title;
    font-size: 1rem;

    position: absolute;
    top: $top;
    left: $left;
  }
}
