.ProjectSummary {
  border: 0.2rem solid purple;
  border-radius: 0.5rem;
  padding: 1rem;

  background-color: var(--project-bgcolor);
  color: var(--project-text-color);
  // background-color: hsl(187, 14%, 76%);
  // color: var(--project-bgcolor);
  // color: black;
}
