* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --landing-name-text: 2.5rem;
  --landing-title-text: 1.75rem;
  --landing-button-text: 1rem;
  --nav-bar-bgcolor: hsl(300, 100%, 15%);
  --nav-link-font: 'Salma Pro', sans-serif;
  --nav-text-size: 1.25rem;
  --nav-line-height: 1.25rem;
  --nav-text-color: hsl(195, 53%, 79%);
  --nav-list-padding: 0.25rem;
  --primary-text: 'Salma Pro', sans-serif;
  --primary-text-color: var(--nav-bar-bgcolor);
}

html,
body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Vegan Style';
  src: url('../fonts/VeganStylePersonalUse.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Vegan Style Bold';
  src: url('../fonts/VeganStylePersonalUse.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Salma Pro';
  src: url('../fonts/salma-pro-font/SalmaproMedium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Salma Pro Narrow';
  src: url('../fonts/salma-pro-font/SalmaproMediumNarrow.otf');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: aliceblue;
    background-color: rebeccapurple;
  } */
}
